################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lorem/bin
/Lorem/.vs/Lorem
/Lorem/App_Data
/Lorem/obj/Debug
/Lorem/packages
/Lorem/Lorem.csproj.user
/Lorem.Test/bin/Debug/net48
/Lorem.Test/obj
/Lorem/modules/_protected
/.vs
/posts/create_a_test_framework/example/.vs/Lorem
/posts/create_a_test_framework/example/Lorem/bin
/posts/create_a_test_framework/example/Lorem/obj
/posts/create_a_test_framework/example/Lorem.Test/bin/Debug/net48
/posts/create_a_test_framework/example/Lorem.Test/obj
/posts/create_a_test_framework/example/Lorem.Test/Web.config
/posts/create_a_test_framework/example/packages
/src/net48/Lorem.Testing.EPiServer.CMS/.vs
/src/net48/Lorem.Testing.EPiServer.CMS/bin/Debug/net48
/src/net48/Lorem.Testing.EPiServer.CMS/obj
/samples/net48/Alloy/.vs/Alloy
/samples/net48/Alloy/Alloy/bin
/samples/net48/Alloy/Alloy/obj
/samples/net48/Alloy/Alloy/Alloy.csproj.user
/samples/net48/Alloy/Alloy.Test/bin/Debug/net48
/samples/net48/Alloy/Alloy.Test/obj
/samples/net48/Alloy/Alloy.Test/Web.config
/samples/net48/Alloy/packages
/samples/main/Alloy/.vs
/samples/main/Alloy/Alloy.Test/bin/Debug/net5.0
/samples/main/Alloy/Alloy.Test/obj
/src/main/Lorem.Testing.EPiServer.CMS/bin/Debug/net5.0
/src/main/Lorem.Testing.EPiServer.CMS/obj
/samples/main/Alloy/Alloy/App_Data/Alloy.mdf
/posts/test_framework_for_net5/example/Lorem/obj
/posts/test_framework_for_net5/example/Lorem/Lorem.csproj.user
/posts/test_framework_for_net5/example/Lorem/bin/Debug/net5.0
/posts/test_framework_for_net5/example/.vs/Lorem
/posts/test_framework_for_net5/example/Lorem/.vs/Lorem
/posts/test_framework_for_net5/example/Lorem.Test/bin/Debug/net5.0
/posts/test_framework_for_net5/example/Lorem.Test/obj
/src/main/.vs/Lorem.Testing.EPiServer.CMS/v16
/src/main/Lorem/.vs/Lorem
/src/main/Lorem/bin/Debug/net5.0
/src/main/Lorem/obj
/src/main/Lorem.Testing.EPiServer.CMS/.vs/Lorem.Testing.EPiServer.CMS/v16/TestStore/0
/src/main/Lorem.Testing.EPiServer.CMS.Test/bin/Debug/net5.0
/src/main/Lorem.Testing.EPiServer.CMS.Test/obj
/src/main/Lorem.Testing.EPiServer.CMS/.vs/Lorem.Testing.EPiServer.CMS/DesignTimeBuild
