<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget.episerver.com" value="http://nuget.episerver.com/feed/packages.svc/" />
    <add key="pkgs.dev.azure.com/EpiserverEngineering" value="https://pkgs.dev.azure.com/EpiserverEngineering/netCore/_packaging/beta-program/nuget/v3/index.json" />
  </packageSources>
</configuration>